*.geojson filter=lfs diff=lfs merge=lfs -text
*.shp filter=lfs diff=lfs merge=lfs -text
*.dbf filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
ctprvn_wgs84.geojson filter=lfs diff=lfs merge=lfs -text
sig_wgs84.geojson filter=lfs diff=lfs merge=lfs -text
emd_wgs84.geojson filter=lfs diff=lfs merge=lfs -text
